## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# javascript
node_modules
jam

# Virtualenv
env

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.idea
.project
.pydevproject
